*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

:root {
  --background: #f0f4f8;
  --foreground: #f0f4f8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f0f4f8;
    --foreground: #f0f4f8;
  }
}
